.h2 {
  width: 563px;
  height: 58px;
  flex-shrink: 0;
  color: #3E3E3E;
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-left: 300px;
  margin-top: 200px;
  margin-bottom: 50px;
}

.svg1 {
  width: 150.32px;
  height: 150.844px;
  transform: rotate(-35.193deg);
  flex-shrink: 0;
  position: absolute;
  bottom: 900px;
  left: 100px;
}

.svg2 {
  width: 127px;
  height: 127px;
  flex-shrink: 0;
  position: absolute;
  right: 600px;
  bottom: 500px;
  z-index: 3;
}

.svg5 {
  width: 200.76px;
height: 50.086px;
flex-shrink: 0;
position: absolute;
bottom: 100px;
right: 1700px;
}

.svg6 {
  position: absolute;
  right: 200px;
  bottom: 78px;
}

.svg7 {
  position: absolute;
  right: -140px;
  bottom: 50px;
}

.body {
  margin: 0;
  padding: 0;
}

.svg3 {
  width: 314px;
  height: 308px;
  transform: rotate(-00.637deg);
  flex-shrink: 0;
  position: absolute;
  right: 400px;
  bottom: 300px;
  z-index: 2;
}

.svg4 {
  width: 414px;
height: 408px;
transform: rotate(.637deg);
flex-shrink: 0;
position: absolute;
bottom: -150px;
}


.img {
  background: url(/Forms-Test/img/Captura\ de\ Tela\ 2021-01-21\ às\ 10.47\ 1.jpg) lightgray 50% / cover no-repeat;
  width: 1006px;
  height: 970px;
  border-radius: 100%;
  position: absolute;
  left: 1700px;
  top: -100px;
  z-index: 1;
}

.textarea {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

.name {
  width: 557px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  margin-top: 8px;
}

.card-footer {
  width: 100%px;
  height: 300px;
  flex-shrink: 0;
  border: 1px solid #D8D8D8;
  background: #FAFAFA;
  margin-top: 100px;
}

.textarea ::placeholder {
  color: #2D2D2D;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  z-index: 1;
}

.e-mail {
  width: 557px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  margin-top: 8px;
}

.message {
  width: 557px;
  height: 189px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  background: #FFF;
  margin-top: 8px;
}

button {
  all: unset;
  width: 218px;
  margin-top: 8px;
}

.button {
  position: relative;
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  border-radius: 9999px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Segoe UI;
  font-size: 1.2rem;
  font-weight: 640;
  color: #fafaf6;
  letter-spacing: -0.06em;
}

.button-item {
  background-color: transparent;
  color: #1d1d1f;
}

.button-item .button-bg {
  border-color: rgba(255, 208, 116);
  background-color: rgba(255, 208, 116);
}

.button-inner,
.button-inner-hover,
.button-inner-static {
  pointer-events: none;
  display: block;
}

.button-inner {
  position: relative;
}

.button-inner-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button-bg {
  overflow: hidden;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-bg,
.button-bg-layer,
.button-bg-layers {
  display: block;
}

.button-bg-layers {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60%;
  aspect-ratio: 1 / 1;
  width: max(200%, 10rem);
}

.button-bg-layer {
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
}

.button-bg-layer.-purple {
  background-color: rgba(163, 116, 255);
}

.button-bg-layer.-turquoise {
  background-color: rgba(23, 241, 209);
}

.button-bg-layer.-yellow {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 208, 116, var(--tw-bg-opacity));
}

.button:hover .button-inner-static {
  opacity: 0;
  transform: translateY(-70%);
  transition:
    transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.3s linear;
}

.button:hover .button-inner-hover {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover .button-bg-layer {
  transition:
    transform 1.3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.3s linear;
}

.button:hover .button-bg-layer-1 {
  transform: scale(1);
}

.button:hover .button-bg-layer-2 {
  transition-delay: 0.1s;
  transform: scale(1);
}

.button:hover .button-bg-layer-3 {
  transition-delay: 0.2s;
  transform: scale(1);
}